{% extends "base.html" %}
{% block content %}
<body>
    <div class="container">
        <h1>Let's Play</h1>
  
        <div class="dice">
            <p class="name">{{name}}noussair</p>
            <img class="img1" src="/static/image/dice-6.png">
        </div>
  
    </div>
  
    <div class="container bottom">
        <button type="button" class="butn"
            onClick="rollTheDice()">
            Roll
        </button>
    </div>
    <div class="container bottom">
        <button type="button" class="butn" 
            onClick="location='/'">
        New Games
        </button>
    </div>
    
    <div class="container bottom">
        <button type="button" class="butn" 
            onClick="location='/'">
        out
        </button>
    </div>
    <div class="Score">
        <p>Your Score:</p><br>
    </div>

</body>


{% endblock content %}
<script src="/static/js/script.js"></script>
